<section class="adventages">
  <div class="container">
    <h2 class="adventages__title">advantages</h2>
    <h3 class="adventages__subtitle">Unleash your business potential with our web studio</h3>
    <ul class="adventages__list">
      <li class="adventages__item">
        <span class="adventages__item-num">01</span>
        <h4 class="adventages__item-title">Individual approach</h4>
        <p class="adventages__item-descr">
          We work with each client individually to understand their needs and
          wants and create a website that meets all their objectives.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__item-num">02</span>
        <h4 class="adventages__item-title">Professional design</h4>
        <p class="adventages__item-descr">
          Our designers create a unique and attractive website design that
          reflects the client's brand and attracts the attention of potential
          customers.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__item-num">03</span>
        <h4 class="adventages__item-title">High quality</h4>
        <p class="adventages__item-descr">
          We use the latest technology and best development practices to ensure
          a professional and efficient result.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__item-num">04</span>
        <h4 class="adventages__item-title">Flexibility and speed</h4>
        <p class="adventages__item-descr">
          We work quickly and flexibly to provide our customers with effective
          and efficient solutions.
        </p>
      </li>
      <li class="adventages__item">
        <span class="adventages__item-num">05</span>
        <h4 class="adventages__item-title">Performance</h4>
        <p class="adventages__item-descr">
          Our websites help our clients attract new customers and increase
          sales, making our web studio the best choice for business.
        </p>
      </li>
    </ul>
    <button class="adventages__button">Get in touch</button>
  </div>
</section>
