<div class="burger-menu__modal">
  <div class="container">
    <div class="burger-menu__top-wrapper">
      <h2 class="burger-menu__logo">
        <svg class="burger-menu__logo-icon">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
        <span class="burger__logo-text">StarlightStudio</span>
      </h2>
      <button class="burger-menu__close js-burger-close">
        <svg class="icon-close">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="burger-menu__nav">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
          <a href="#achievements" class="burger-menu__link">achievements</a>
        </li>
        <li class="burger-menu__item">
          <a href="#services" class="burger-menu__link">services</a>
        </li>
        <li class="burger-menu__item">
          <a href="#advantages" class="burger-menu__link">advantages</a>
        </li>
        <li class="burger-menu__item">
          <a href="#projects" class="burger-menu__link">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
