<section class="feedback">
  <div class="container feedback__container--flex">
    <h2 class="feedback__title">Feedback from clients</h2>
    <div class="feedback__container--position">
      <div class="feedback__slider-container">
        <ul class="feedback__list js-feedback-list">
          <li class="feedback__item 1 js-active-feedback">
            <p class="feedback__descr">
              <!-- Item-1 -->
              «We received high-quality and qualified work. We are very grateful
              to these guys. The result was a high-quality web product that
              increased our sales. We immediately found mutual understanding»
            </p>
            <p class="feedback__creator">
              <span class="feedback__creator-name">Jerome Bell</span
              ><span class="feedback__creator-post">CEO, CODI</span>
            </p>
          </li>
          <li class="feedback__item 2">
            <p class="feedback__descr">
              <!-- Item-2 -->
              «We received high-quality and qualified work. We are very grateful
              to these guys. The result was a high-quality web product that
              increased our sales. We immediately found mutual understanding»
            </p>
            <p class="feedback__creator">
              <span class="feedback__creator-name">Jerome Bell</span
              ><span class="feedback__creator-post">CEO, CODI</span>
            </p>
          </li>
          <li class="feedback__item 3">
            <p class="feedback__descr">
              <!-- Item-3 -->
              «We received high-quality and qualified work. We are very grateful
              to these guys. The result was a high-quality web product that
              increased our sales. We immediately found mutual understanding»
            </p>
            <p class="feedback__creator">
              <span class="feedback__creator-name">Jerome Bell</span
              ><span class="feedback__creator-post">CEO, CODI</span>
            </p>
          </li>
          <li class="feedback__item 4">
            <p class="feedback__descr">
              <!-- Item-4 -->
              «We received high-quality and qualified work. We are very grateful
              to these guys. The result was a high-quality web product that
              increased our sales. We immediately found mutual understanding»
            </p>
            <p class="feedback__creator">
              <span class="feedback__creator-name">Jerome Bell</span
              ><span class="feedback__creator-post">CEO, CODI</span>
            </p>
          </li>
          <li class="feedback__item 5">
            <p class="feedback__descr">
              <!-- Item-5 -->
              «We received high-quality and qualified work. We are very grateful
              to these guys. The result was a high-quality web product that
              increased our sales. We immediately found mutual understanding»
            </p>
            <p class="feedback__creator">
              <span class="feedback__creator-name">Jerome Bell</span
              ><span class="feedback__creator-post">CEO, CODI</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="feedback__btns-wrapper js-feedback-btns">
        <button
          class="feedback__btn-nav js-btn-nav"
          data-action="prev"
          disabled
        >
          <svg class="feedback__icon-nav">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="feedback__btn-nav js-btn-nav" data-action="next">
          <svg class="feedback__icon-nav">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
