<footer class="footer">
  <div class="footer__primary-container">
    <div class="container footer__primary-container--flex">
      <h2 class="footer__logo">
        <svg class="footer__logo-icon">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        <span class="footer__logo-text">StarlightStudio</span>
      </h2>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="" class="footer__social-link">
            <svg class="footer__social-icon">
              <use href="./img/sprite.svg#icon-behance"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="" class="footer__social-link">
            <svg class="footer__social-icon">
              <use href="./img/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="" class="footer__social-link">
            <svg class="footer__social-icon">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__secondary-container">
    <div class="container footer__secondary-container--flex">
      <div class="footer__docs-wrapper">
        <a href="#" class="footer__docs-link">Privacy Policy</a>
        <a href="#" class="footer__docs-link">Public offer</a>
      </div>
      <p class="footer__copyrite-wrapper">
        <svg class="footer__copyrite-icon">
          <use href="./img/sprite.svg#icon-copyright"></use>
        </svg>
        <span class="footer__copyrite-text">2023 StarlightStudio</span>
      </p>
    </div>
  </div>
</footer>
