<section class="latest-works">
  <div class="container">
    <h2 class="latest-works__title">latest works</h2>
    <div class="latest-works__subtitle-wrapper">
      <h3 class="latest-works__subtitle">
        Discover our diverse portfolio of cutting-edge projects.
      </h3>
      <ul class="latest-works__type-list">
        <li class="latest-works__type-item">Mobile application</li>
        <li class="latest-works__type-item">Web services</li>
        <li class="latest-works__type-item">Landing pages</li>
      </ul>
    </div>
    <ul class="latest-works__slider">
      <li class="latest-works__slide">
        <picture>
          <source
            srcset="./img/slide-codi-desk.jpg"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/slide-codi-tab.jpg"
            media="(min-width: 720px)"
          />
          <img
            src="./img/slide-codi.jpg"
            alt=""
            class="latest-works__slide-img"
          />
        </picture>

        <div class="latest-works__slide-wrapper">
          <div class="latest-works__slide-text">
            <h4 class="latest-works__slide-title">Codi</h4>
            <p class="latest-works__slide-descr">
              This web project for a clothing store «CODI» is a convenient
              online store with an intuitive interface that simplifies the
              process of choosing and buying fashionable clothes online as much
              as possible.
            </p>
          </div>
          <div class="latest-works__slide-num">
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="latest-works__slide latest-works__slide--hidden">
        <img
          src="./img/slide-blaze.jpg"
          alt=""
          class="latest-works__slide-img"
        />
        <div class="latest-works__slide-wrapper">
          <div class="latest-works__slide-text">
            <h4 class="latest-works__slide-title">blaze</h4>
            <p class="latest-works__slide-descr">
              This is an online jewelry store. The goal was to create a site in
              vintage style. After the redesign of the site, sales increased by
              20%.
            </p>
          </div>
          <div class="latest-works__slide-num">
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="latest-works__slide latest-works__slide--hidden">
        <img
          src="./img/slide-fujifilm.jpg"
          alt=""
          class="latest-works__slide-img"
        />
        <div class="latest-works__slide-wrapper">
          <div class="latest-works__slide-text">
            <h4 class="latest-works__slide-title">Fujifilm</h4>
            <p class="latest-works__slide-descr">
              For Fujifilm, we have developed an identity and a website. The
              goal was to demonstrate to consumers the main advantages and
              services of the company. At the moment, Fujifilm have become our
              regular customers and we have developed an application and an
              online store for them.
            </p>
          </div>
          <div class="latest-works__slide-num">
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="latest-works__slide latest-works__slide--hidden">
        <img
          src="./img/slide-helping-hand.jpg"
          alt=""
          class="latest-works__slide-img"
        />
        <div class="latest-works__slide-wrapper">
          <div class="latest-works__slide-text">
            <h4 class="latest-works__slide-title">Helping hand</h4>
            <p class="latest-works__slide-descr">
              The Helping hand charity fund has been fighting for the survival
              of rare animal species for 10 years now. Our goal was to create a
              website that would showcase the main principles and objectives of
              the fund, as well as implement a feature for making charitable
              donations on the website.
            </p>
          </div>
          <div class="latest-works__slide-num">
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
            <svg class="latest-works__slide-num-icon">
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
