<div class="modal-question">
  <div class="container">
    <form action="" class="modal-question__form">
      <h2 class="modal-question__form-title">Let’s discuss your question</h2>
      <input
        type="text"
        class="modal-question__form-input"
        name="email"
        placeholder="E-mail"
      />
      <input
        type="text"
        class="modal-question__form-input"
        name="phone"
        placeholder="phone"
      />
      <input
        type="text"
        class="modal-question__form-input"
        name="comment"
        placeholder="comment"
      />
      <button class="question__btn-submit" type="submit">Send</button>
    </form>
  </div>
</div>
