<section class="services">
  <div class="container">
    <h2 class="services__title">services</h2>
    <h3 class="services__subtitle">We offer a wide range of services, allowing us to provide a full cycle of website development and support</h3>
    <ul class="services__list">
      <li class="services__item is-open">
        <span class="services__item-num">01</span>
        <div class="services__item-descr-wrapper">
          <h3 class="services__item-title">Strategy and consulting</h3>
          <p class="services__item-descr">Our studio provide strategic guidance to clients, helping them to identify their goals and develop a roadmap for achieving them.</p>
        </div>
        <button class="services__btn-close-item">
          <svg class="services__icon-close-item">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </button>
    </li>
      <li class="services__item">
        <span class="services__item-num">02</span>
        <div class="services__item-descr-wrapper">
          <h3 class="services__item-title">Research</h3>
          <p class="services__item-descr"></p>
        </div>
        <button class="services__btn-close-item">
          <svg class="services__icon-close-item">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </button>
    </li>
      <li class="services__item">
        <span class="services__item-num">03</span>
        <div class="services__item-descr-wrapper">
          <h3 class="services__item-title">Branding</h3>
          <p class="services__item-descr"></p>
        </div>
        <button class="services__btn-close-item">
          <svg class="services__icon-close-item">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </button>
    </li>
      <li class="services__item">
        <span class="services__item-num">04</span>
        <div class="services__item-descr-wrapper">
          <h3 class="services__item-title">Website design</h3>
          <p class="services__item-descr"></p>
        </div>
        <button class="services__btn-close-item">
          <svg class="services__icon-close-item">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </button>
    </li>
      <li class="services__item">
        <span class="services__item-num">05</span>
        <div class="services__item-descr-wrapper">
          <h3 class="services__item-title">Website support                         </h3>
          <p class="services__item-descr"></p>
        </div>
        <button class="services__btn-close-item">
          <svg class="services__icon-close-item">
            <use href="../img/sprite.svg#icon-star"></use>
          </svg>
        </button>
    </li>
    </services>
  </div>
</section>
