.modal-question {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #00000099;
}

.modal-question__container {
  width: calc(360px - (24px * 2));
  padding-right: 0;
  padding-left: 0;
}

/* modal animation */
.modal-question {
  display: none;
}
.modal-question.is-open {
  display: flex;
}

.modal-question__form {
  padding: 19px;
  padding-top: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.modal-question__form-title {
  width: 209px;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-weight: 400;
  line-height: 140%;
  font-size: 32px;
  letter-spacing: 0.04em;
  color: #171717;
}

.modal-question__form-input {
  width: 100%;
  margin-bottom: 40px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #171717;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #171717;
}
.modal-question__form-input::placeholder {
  text-transform: uppercase;
  color: #686868;
}

.modal-question__btn-submit {
  display: flex;
  width: 100%;
  height: 54px;
  margin-top: 42px;
  justify-content: center;
  align-items: center;
  background: #171717;
  border-radius: 24px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 720px) {
  .modal-question__container {
    width: calc(720px - (40px * 2));
  }

  .modal-question__form {
    padding: 40px;
  }

  .modal-question__form-title {
    width: 100%;
    margin-bottom: 48px;
    font-size: 40px;
    line-height: 120%;
  }

  .modal-question__btn-submit {
    width: 144px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-question__container {
    width: calc(1440px - (165px * 2));
  }

  .modal-question__form {
    padding: 40px 95px;
  }
}
