/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./shared.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./achievements.css');
@import url('./services.css');

@import url('./burger-menu.css');

:root {
  --font-oswald: 'Oswald', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-roboto: 'roboto', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
